.baseRenderTableMidd {
  .no-date-picker-icons {
    .el-range__icon {
      display: none;
    }
  }
  // padding-bottom: 20px;
  height: 100%;
  width: 100%;
  overflow: auto;
  .btn {
    cursor: pointer;
    color: #858ebd;
    margin-right: 5px;
  }
  .el-table {
    th > .cell:has(.hb-search-header) {
      height: 100%;
    }

    th > .cell {
      .hb-search-header {
        display: inline-flex;
        flex-direction: column;
        width: calc(100% - 18px);
        vertical-align: top;
        height: 100%;
        .hb-search-label {
          flex: 1;
          min-height: 0;
          line-height: 1.5;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .hb-search-header + .caret-wrapper {
        position: absolute;
        top: calc(50% - 14px);
        transform: translateY(-50%);
        right: -2px;
      }
    }
  }
}
