// 一些公用的混合样式


%clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

%abs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin float($dic: left) {
  float: $dic;
}
// 样式混合库
@import "./_var";

%abs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

%clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin float($dic: left) {
  float: $dic;
}
%mini-scroll {
  overflow: auto;
  // overflow: hidden;
  &::-webkit-scrollbar {
    transition: all 0.5s;

    // width: 0px;
    // height: 0px;
  }
  &:hover {
    overflow: auto;
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  &::-webkit-scrollbar-thumb {
    // border-radius: 10px;
    transition: all 2s;
    background-color: rgba(0, 0, 0, .05);
  }
  // &::-webkit-scrollbar-track {
  //   background: rgba(0, 0, 0, 0);
  // }
}
%viewer-warp {
  border-radius: 4px;
  overflow: auto;
  box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.2);
}
%clear{
  &::after {
    content: "";
    clear: both;
    display: block;
  }
}