html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, cite, img, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  font-weight: normal;
  vertical-align: baseline;
  font-family:"Microsoft YaHei","PingFangSC";
  font-size: 12px;
}
html,body{
  width:100%;
  height: 100%;
  overflow-y:hidden;
}

html{
  font-size:100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
button {
  outline: none;
}
ol, ul {
  margin: 0;
  padding: 0;
}
ol, ul, li {
  list-style: none;
}
i, em {
  font-style: normal;
}
blockquote {
  quotes: none;
}
blockquote:before, blockquote:after {
  content: '';
  content: none;
}
a {
  outline: none;
  text-decoration: none;
  text-decoration:none;
  text-decoration: none;
  transition: background-color .5s ease 0s,color .5s ease 0s,width .5s ease 0s,border-width .5s ease 0s,border-color .5s ease 0s;
  -webkit-transition: background-color .5s ease 0s,color .5s ease 0s,width .5s ease 0s,border-width .5s ease 0s,border-color .5s ease 0s;
  -moz-transition: background-color .5s ease 0s,color .5s ease 0s,width .5s ease 0s,border-width .5s ease 0s,border-color .5s ease 0s;
  -ms-transition: background-color .5s ease 0s,color .5s ease 0s,width .5s ease 0s,border-width .5s ease 0s,border-color .5s ease 0s;
  -o-transition: background-color .5s ease 0s,color .5s ease 0s,width .5s ease 0s,border-width .5s ease 0s,border-color .5s ease 0s
}
input, textarea{
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
}

.clearfix:after{
  display: block;
  content:'';
  clear: both;
}

.ellipsis{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}
 #elTabs .el-tabs__content {
  overflow: inherit;
}
.setUp-dialog .customWidth,.precast-dialog .customWidth,.add-dialog .customWidth{
  width: 770px!important;
} 
.progress-info .el-progress-bar{
  padding-right: 0;
}
.progress-info .el-progress__text{
  font-size: 0px !important;
}
@media (max-width: 1024px){
  body{font-size: 12px}
}

@media (min-width: 1024px){
  body{font-size: 12px}
} /*>=1024的设备*/

@media (min-width: 1100px) {
  body{font-size: 12px}
} /*>=1100的设备*/
@media (min-width: 1280px) {
  body{font-size: 12px;}
} /*>=1280的设备*/

@media (min-width: 1366px) {

  body{font-size: 14px;}
}

@media (min-width: 1440px) {
  body{font-size: 14px}
}

@media (min-width: 1680px) {
  body{font-size: 14px;}
}

@media (min-width: 1920px) {
  body{font-size: 16px;}
}
*{
  box-sizing: border-box;
}
/* .el-loading-text{
  color: #fff;
} */
/* 定义全局滚动条 */
::-webkit-scrollbar {
  width: 6px; /*对垂直流动条有效*/
  height: 6px; /*对水平流动条有效*/
}
/*定义滚动条的轨道颜色、内阴影及圆角*/
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 4px rgba(0,0,0,.3);
  background-color: #fff;
  border-radius: 3px;
  }
  
  
  /*定义滑块颜色、内阴影及圆角*/
  ::-webkit-scrollbar-thumb{
  border-radius: 3px;
  box-shadow: inset 0 0 4px rgba(0,0,0,.3);
  background-color: #E8E8E8;
  }
  
  /*定义右下角汇合处的样式*/
  ::-webkit-scrollbar-corner {
  background:#fff;
  }
/*定义滑块 内阴影+圆角*/
.colorSelectors{
  z-index:9999 !important;
}

/* 按钮样式调整 */
/* .el-button{
  border-radius: 4px !important;
  border: solid 1px rgba(191, 191, 191, 0.52) !important;
  color: #fff !important;
} */
/* 防止闪烁 */
/* body{
  -webkit-transform: translate3d(0, 0, 0) ;
 transform: translate3d(0, 0, 0); 
} */



