.CompleteTable {
  .wrap {
    width: 100%;
  }
  
  .edit {
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .between {
    justify-content: space-between;
  }
    .relative {
      position: relative;
    }

            .absolute {
              position: absolute;
            }
            .custom {
                  left: -120px;
                    top: 30px;
            }
  .operate {
    position: absolute;
    z-index: 9;
    right: 20px;
  }
  // .panel {

  //   position: absolute;
  //     left: -122px;
  //     z-index: 99;
  //     top: 25px;
  //     height: 250px !important;
  //     max-height: inherit;
  //     overflow: auto;
  // }
  .i {
    font-size: 20px;
    margin-left: 20px;
  }
  .none {
    display: none;
  }
}